/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* css */
@import url(header/header.css);
@import url(main/main.css);
@import url(section-about/about.css);
@import url(section-services/services.css);
@import url(section-perso/perso.css);
@import url(section-box-club/box-club.css);
@import url(section-boxing/boxing.css);
@import url(section-cite/cite.css);
@import url(section-prices/prices.css);
@import url(footer/footer.css);
@import url(slides/slides.css);
@import url(contact/contact.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
