/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* css */
@import url(css/header/header.css);
@import url(css/main/main.css);
@import url(css/section-about/about.css);
@import url(css/section-services/services.css);
@import url(css/section-perso/perso.css);
@import url(css/section-box-club/box-club.css);
@import url(css/section-boxing/boxing.css);
@import url(css/section-cite/cite.css);
@import url(css/section-prices/prices.css);
@import url(css/footer/footer.css);
@import url(css/slides/slides.css);
@import url(css/contact/contact.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 320px;
    max-width: 1400px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
}
