.prices-bg {
    height: auto;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.prices-tittle {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.box-prices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 2rem;
}

.prices-text {
    font-size: 1.6rem;
    padding: 15px 30px;
    height: auto;
    width: 400px;
    border: 1.5px solid black;
    border-radius: 3px;
    background: #fff;
    color: #111;
}

.prices-text h3 {
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-prices {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #111;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #111;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 6rem;
    margin: 0 auto;
}

.btn-prices:hover {
    transition: 0.5s;
    background: #111;
    color: #fff;
}

.copper:hover {
    transition: 0.3s;
    border: 1px solid #b87333;
}

.copper h3 {
    color: #b87333;
}

.silver:hover {
    transition: 0.3s;
    border: 1px solid silver;
}

.silver h3 {
    color: silver;
}

.gold:hover {
    transition: 0.3s;
    border: 1px solid gold;
}

.gold h3 {
    color: gold;
}

@media (max-width: 500px) {
    .prices-text {
        width: 300px;
    }

    .prices-text p {
        margin-bottom: 1rem;
    }
}